In [125]:
import pandas as pd
import numpy as np

In [168]:
df = pd.read_csv('/content/result 1kogorta.csv')

In [169]:
df

             app_id                             device_id  min_das  mean_ses_0
0     com.evermatch  fae245e0-40ec-415e-a4fe-b7c3f5332cc9        0          21
1     com.evermatch  938332e4-0fb7-4daa-a8d4-9cdd66aa4928        0           9
2     com.evermatch  81288bca-743f-4067-912c-13318d861ef6        0         451
3     com.evermatch  504196b2-b94e-4eed-898b-b263946a95af        0          89
4     com.evermatch  16e3a24c-63a0-45ed-8424-ba97eae46b38        0          16
...             ...                                   ...      ...         ...
3197  com.evermatch  fcbce3f7-fc3d-4979-bfa1-bc817035d517      472        1827
3198  com.evermatch  1283e01e-ea24-4e58-bfc2-7d9af689d0ea      149        4171
3199  com.evermatch  6968d944-ab49-44b0-bff9-65c90ca548c2      286        3554
3200  com.evermatch  deb5fece-0ecf-4d0a-9317-295656e24223     2052       18826
3201  com.evermatch  d1fd9ed5-cf12-4d66-943e-40ec84a9e16c        0         160

[3202 rows x 4 columns]

In [170]:
len(df['min_das']>1)

3202

In [171]:
res = pd.DataFrame(columns=(['per', 'mean','cnt']))

In [172]:

d=df[df['min_das'].between(1, 3*60)].mean()['mean_ses_0']
f=df[df['min_das'].between(1, 3*60)].count()['mean_ses_0']
new_row = {'per':3, 'mean':d, 'cnt':f}
res = res.append(new_row, ignore_index=True)

d=df[df['min_das'].between(3*60+1, 5*60)].mean()['mean_ses_0']
f=df[df['min_das'].between(3*60+1, 5*60)].count()['mean_ses_0']
new_row = {'per':5, 'mean':d, 'cnt':f}
res = res.append(new_row, ignore_index=True)

for i in (10,15,20,25,30):
  d=df[df['min_das'].between((i-5)*60+1, i*60)].mean()['mean_ses_0']
  f=df[df['min_das'].between((i-5)*60+1, i*60)].count()['mean_ses_0']
  new_row = {'per':i, 'mean':d, 'cnt':f}
  res = res.append(new_row, ignore_index=True)

d=df[df['min_das'].between(30*60+1, 60*60)].mean()['mean_ses_0']
f=df[df['min_das'].between(30*60+1, 60*60)].count()['mean_ses_0']
new_row = {'per':1, 'mean':d, 'cnt':f}
res = res.append(new_row, ignore_index=True)

for i in (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24):
  d=df[df['min_das'].between((i-1)*60*60+1, i*60*60)].mean()['mean_ses_0']
  f=df[df['min_das'].between((i-1)*60*60+1, i*60*60)].count()['mean_ses_0']
  new_row = {'per':i, 'mean':d, 'cnt':f}
  res = res.append(new_row, ignore_index=True)

for i in (2,3,4,5):
  d=df[df['min_das'].between((i-1)*24*60*60+1, i*24*60*60)].mean()['mean_ses_0']
  f=df[df['min_das'].between((i-1)*24*60*60+1, i*24*60*60)].count()['mean_ses_0']
  new_row = {'per':i, 'mean':d, 'cnt':f}
  res = res.append(new_row, ignore_index=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [173]:
res

     per         mean    cnt
0    3.0  3850.560000   25.0
1    5.0  3335.083333   60.0
2   10.0  2363.728083  673.0
3   15.0  2208.803347  478.0
4   20.0  2074.220721  222.0
5   25.0  2814.321429  112.0
6   30.0  3359.602151   93.0
7    1.0  2942.038136  236.0
8    2.0  2353.048276  145.0
9    3.0  2155.065574   61.0
10   4.0  1855.189189   37.0
11   5.0  2959.000000   36.0
12   6.0  1459.210526   19.0
13   7.0  2416.294118   17.0
14   8.0  1838.866667   15.0
15   9.0  2691.764706   17.0
16  10.0  2281.333333    6.0
17  11.0  1714.500000   10.0
18  12.0  3749.750000    4.0
19  13.0   927.500000   10.0
20  14.0  1347.375000    8.0
21  15.0  3219.666667    3.0
22  16.0  1295.363636   11.0
23  17.0   320.000000    3.0
24  18.0  3020.500000    2.0
25  19.0   894.500000    6.0
26  20.0  2509.200000    5.0
27  21.0   411.500000    4.0
28  22.0   416.000000    2.0
29  23.0    87.600000    5.0
30  24.0   110.500000    2.0
31   2.0   382.862069   29.0
32   3.0    90.100000   10.0
33   4.0   399.090909   11.0
34   5.0          NaN    0.0

In [174]:
res.to_excel('./kogorta 1 res.xlsx')